[Unit]
Description=Podman container %i in pod %p managed by podluck
Wants=network.target
After=network-online.target

BindsTo=%p.service
After=%p.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=PODLUCK_CONTAINER_ARGS_DEFAULT=
Environment=PODLUCK_CONTAINER_ARGS_POD=
Environment=PODLUCK_CONTAINER_ARGS=
Environment=PODLUCK_CONTAINER_IMAGE=k8s.gcr.io/pause:3.2
Environment=PODLUCK_CONTAINER_IMAGE_CMD=
Environment=PODLUCK_CONTAINER_STOP_TIMEOUT=240

EnvironmentFile=-%E/podluck/default/systemd-container-env
EnvironmentFile=-%E/podluck/pod/%p/systemd-container-env
EnvironmentFile=-%E/podluck/pod/%p/systemd-container-%i-env

TimeoutStartSec=300
TimeoutStopSec=300
ExecStartPre=/bin/rm -f %t/podluck/pod/%p/%N.pid %t/podluck/pod/%p/%N.ctr-id
ExecStart=/usr/bin/env podman container run \
    --cgroups=no-conmon \
    $PODLUCK_CONTAINER_ARGS_DEFAULT \
    $PODLUCK_CONTAINER_ARGS_POD \
    $PODLUCK_CONTAINER_ARGS \
    --conmon-pidfile %t/podluck/pod/%p/%N.pid \
    --cidfile %t/podluck/pod/%p/%N.ctr-id \
    --pod-id-file %t/podluck/pod/%p/%p.pod-id \
    --replace \
    --name %i.%p \
    --detach \
    ${PODLUCK_CONTAINER_IMAGE} $PODLUCK_CONTAINER_IMAGE_CMD
ExecStop=/usr/bin/env podman container stop \
    --ignore \
    --time ${PODLUCK_CONTAINER_STOP_TIMEOUT} \
    --cidfile %t/podluck/pod/%p/%N.ctr-id
ExecStopPost=/usr/bin/env podman container rm \
    --ignore \
    --force \
    --cidfile %t/podluck/pod/%p/%N.ctr-id
PIDFile=%t/podluck/pod/%p/%N.pid
Type=forking

Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
WantedBy=%p.target
