[Unit]
Description=Podman pod %p managed by podluck
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=PODLUCK_POD_ARGS_DEFAULT=
Environment=PODLUCK_POD_ARGS=
Environment=PODLUCK_POD_STOP_TIMEOUT=240

EnvironmentFile=-%E/podluck/default/systemd-pod-env
EnvironmentFile=-%E/podluck/pod/%p/systemd-pod-env

TimeoutStartSec=300
TimeoutStopSec=300
ExecStartPre=/bin/rm -f %t/podluck/pod/%p/%N.pid %t/podluck/pod/%p/%p.pod-id
ExecStartPre=/usr/bin/env podman pod create \
    $PODLUCK_POD_ARGS_DEFAULT \
    $PODLUCK_POD_ARGS \
    --infra-conmon-pidfile %t/podluck/pod/%p/%N.pid \
    --pod-id-file %t/podluck/pod/%p/%p.pod-id \
    --replace \
    --name %p
ExecStart=/usr/bin/env podman pod start --pod-id-file %t/podluck/pod/%p/%p.pod-id
ExecStop=/usr/bin/env podman pod stop \
    --ignore \
    --time ${PODLUCK_POD_STOP_TIMEOUT} \
    --pod-id-file %t/podluck/pod/%p/%p.pod-id
ExecStopPost=/usr/bin/env podman pod rm \
    --ignore \
    --force \
    --pod-id-file %t/podluck/pod/%p/%p.pod-id
PIDFile=%t/podluck/pod/%p/%N.pid
Type=forking

Restart=on-failure

RuntimeDirectory=podluck/pod/%p
ConfigurationDirectory=podluck/pod/%p

[Install]
WantedBy=multi-user.target
